<div class="container">
  <div class="title text-center">
    <h1>Oligarch Free Living</h1>
  </div>
  <div class="search flex flex-row justify-content-center align-items-center">
    <app-search></app-search>
  </div>
  <div class="text">
    <div>
      <p>
        Knowing who our enemies are is the first step in taking back control. Oligarchs are the extremely wealthy who's
        appetite for more wealth and power know no bounds. These people are literally taking the life giving food and
        medicine away from everyday Americans. Our political system has been corrupted by money and cannot be relied
        upon. The only language they know is the almighty dollar, so hit them where it hurts!
      </p>
      <p>
        Here at Oligarchfreeliving.com, we try to provide you the information and let you decide who you do business
        with.
      </p>

      <h3 class="text-red-400">Fuck Oligarchs! Free Luigi! 8647!</h3>
    </div>
  </div>
  <div class="gallery">
    <app-gallery></app-gallery>
  </div>
</div>
