<article class="letter">
  2/27/25
  <p>
    I started a list of products to avoid based on those companies who donated to the Trump 2025 Inauguration. It's very
    long and difficult work.
  </p>
</article>

<article class="letter">
  2/25/25
  <p>
    Today copied the supporters from the Project 2025 Page. Once I have more data compiled, I will work on more features
    such as search.
  </p>
</article>

<article class="letter">
  2/23/25
  <h3>Dear Readers,</h3>
  <p>
    I'm glad you found your way to my little website but I'm also saddened that you're here. We love this country and
    hate seeing it be torn apart by hate and greed. You're probably feeling the same fear and helplessness that I feel
    every day.
  </p>
  <p>
    In recent months, I've come to realize that voting was not enough. I've been holed up in my bubble, working from
    home, barely interacting with the outside world. Voting is the absolute minimum participation and by itself can even
    be disastrous as we've seen.
  </p>
  <p>
    It is time that we do what we can. I protested at a busy intersection a few weeks ago by myself. I started calling
    my congressman. And I started voting with my dollar. This last option is very powerful. Remember playing games as a
    kid and your cousin made up the rules to benefit themselves? What did you do? Many of us just said "I'm not playing
    anymore" and walked away. I'm walking away from companies and products which have contributed to our current
    situation. I want to provide a tool to help everyone else do this too.
  </p>
  <p>If you want to help, click the Email Us link below. I don't know what I'm doing but I'm doing something.</p>
  <br />
  <blockquote>Do what you can and know that it is enough.</blockquote>
  <p>-quote from Alexandria Ocasio-Cortez</p>
</article>
