.letter {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 70%;
  font-size: 1.5rem;
}
.AbsSearch {
  left: 15%;
  right: 15%;
  width: 70%;
  position: absolute;
}
.mainSearchBar * {
  width: 100%;
}
.SearchFilters p-checkbox * {
  height: 100%;
  width: 20%;
}

p-checkbox,
p-checkbox * {
  --p-checkbox-height: 100%;
  --p-checkbox-width: 100%;
}

p-card,
p-card * {
  --p-card-background: #c62828;
  background-color: #c62828;
}
p-card,
p-card * {
  --p-card-background: #1976d2;
  background-color: #1976d2;
}
p-card {
  margin: auto;
}
