{{ cat }}

{{ doStuff() }}

<div class="w-full px-8">
  <div class="max-w-25rem md:max-w-full">
    <app-search></app-search>
  </div>
  <div class="max-w-25rem md:max-w-full flex flex-row align-items-center justify-content-between mt-2">
    <p-multiselect class="w-9"></p-multiselect>
    <div class="h-2rem w-2rem">
      <p-checkbox class=""></p-checkbox>
    </div>
  </div>
  <div class="grid justify-content-center mt-2">
    <p-card class="m-1 col sm:col-12 md:col-6 lg:col-3 xl:col-3 border-round" header="Walmart">
      <p>Owned by: <b> Walton Family</b></p>
    </p-card>
    <p-card class="m-1 col sm:col-12 md:col-6 lg:col-3 xl:col-3 border-round" header="Tesla">
      <p>Owned by: <b>Elon Musk</b></p>
    </p-card>
    <p-card class="m-1 col sm:col-12 md:col-6 lg:col-3 xl:col-3 border-round" header="IGA Grocery">
      <p>Employee owned.</p>
    </p-card>
    <p-card class="m-1 col sm:col-12 md:col-6 lg:col-3 xl:col-3 border-round" header="IGA Grocery">
      <p>Employee owned.</p>
    </p-card>
  </div>
</div>
