<div class="card">
  <p-table [value]="(data$ | async) ?? []" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template #header>
      <tr>
        <th pSortableColumn="companyName">Company Name <p-sortIcon field="companyName" /></th>
        <th>Products</th>
      </tr>
    </ng-template>
    <ng-template #body let-data>
      <tr>
        <td>{{ data.companyName }}</td>
        <td>
          @for (product of data.products; track $index) {
            <li>
              <a [routerLink]="['/products']" [fragment]="product._id">
                {{ product.productName }}
              </a>
            </li>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
