@if (props(); as props) {
  <p-inputgroup class="flex flex-column mb-2">
    <div class="flex flex-column">
      <label [for]="props.placeholder">{{ props.title }}</label>
      @for (control of props.formArray.controls; track $index) {
        <div class="flex flex-row mb-1">
          <p-inputgroup-addon>
            <i [class]="props.icon"></i>
          </p-inputgroup-addon>
          <p-select
            [formControl]="control"
            [options]="options()"
            optionLabel="label"
            optionValue="id"
            [placeholder]="props.placeholder"
            appendTo="body"
            class="mx-1"
          />
          @if (props.formArray.length - 1 === $index) {
            <p-button icon="pi pi-plus" (click)="handleAddControl()" />
          } @else {
            <p-button icon="pi pi-minus" (click)="handleRemoveControl($index)" />
          }
        </div>
      }
    </div>
  </p-inputgroup>
}
