<h1>Know your enemy</h1>

<div class="card">
  <p-table
    [value]="(data$ | async) ?? []"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
    <ng-template #caption>
      <div class="flex flex-wrap justify-end gap-2">
        <p-button
          label="Expand All"
          icon="pi pi-plus"
          text
          (onClick)="expandAll()"
        />
        <p-button
          label="Collapse All"
          icon="pi pi-minus"
          text
          (onClick)="collapseAll()"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
        <th>Companies</th>
        <th pSortableColumn="oligarchRating">
          Oligarch Rating<p-sortIcon field="oligarchRating" />
        </th>
        <th>Description</th>
      </tr>
    </ng-template>
    <ng-template #body let-data let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="data"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ data.name }}</td>
        <td>
          <ul>
            @for (company of data.companies; track $index) {
            <li>{{ company.companyName }}</li>
            }
          </ul>
        </td>
        <td>{{ data.oligarchRating }}</td>
        <td>{{ data.description }}</td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-product>
      <tr>
        <td colspan="7">
          <div class="p-4">
            <ul>
              @for (source of product.sources; track $index) {
              <li>
                <a [href]="source" target="_blank">{{ source }}</a>
              </li>
              }
            </ul>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
