<div class="card">
  <p-table [value]="(data$ | async) ?? []" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Source</th>
      </tr>
    </ng-template>
    <ng-template #body let-data>
      <tr>
        <td>{{ data.name }}</td>
        <td class="p-4">
          <ul>
            @for (phone of data.phone; track $index) {
              <li>
                {{ phone }}
              </li>
            }
          </ul>
        </td>
        <td class="p-4">
          <ul>
            @for (email of data.email; track $index) {
              <li>
                {{ email }}
              </li>
            }
          </ul>
        </td>
        <td class="p-4">
          <ul>
            @for (address of data.address; track $index) {
              <li>
                {{ address }}
              </li>
            }
          </ul>
        </td>
        <td class="p-4">
          <ul>
            @for (source of data.sources; track $index) {
              <li>
                <a [href]="source" target="_blank">{{ source }}</a>
              </li>
            }
          </ul>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
